@model IEnumerable<Hotel.WEB.Models.Reservation.ReservationVm>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Save", new { id = item.Id, controller="Reservation" }) |
            @Html.ActionLink("Отменить", "Cancel", new { id = item.Id, controller = "Reservation" }, new {@class="btn btn-sm btn-danger"})
        </td>
    </tr>
}

</table>
