@model Hotel.WEB.Models.Shared.RoomTypeVm

<div class="card m-3">
    <div class="row no-gutters">
        <div class="col-lg-5 w-100">
            <img src="@Model.PathToImage" class="card-img" alt="">
        </div>
        <div class="col-lg-7">
            <div class="card-body">
                <div class="row">
                    <h5 class="card-title col-4">
                        @Html.DisplayTextFor(x => x.Name)
                    </h5>
                    <p class="card-text col-3 ml-auto">
                        от @Model.Price.ToString("C")
                    </p>
                </div>
                <p class="card-text">@Model.Description</p>
                <p class="card-text">
                    @foreach (var conv in Model.Conveniences)
                    {
                        <span class="badge badge-primary rounded-0 p-2">@conv.Name</span>
                    }
                </p>

                @Html.ActionLink("Забронировать", "Create", new {controller = "Reservarion", id = Model.Id}, new {@class = "btn btn-success"})
            </div>
        </div>
    </div>
</div>
