@model Hotel.Web.Models.Shared.RoomTypeVm

<div class="card mt-2 mb-2">
    @Html.Hidden("RoomType.Id", Model.Id)
    <div class="row no-gutters">
        <div class="col-lg-5">
            <img src="@Model.PathToImage" class="card-img w-100" alt="">
        </div>
        <div class="col-lg-7">
            <div class="card-body">
                <div class="row">
                    <h5 class="card-title col-4">
                        @Html.DisplayTextFor(x => x.Name)
                    </h5>
                    <p class="card-text col-3 ml-auto">
                        от @Model.Price.ToString("C")
                    </p>
                </div>
                <p class="card-text">@Model.Description </p>
                <p class="card-text">
                    @foreach (var conv in Model.Conveniences)
                    {
                        <span class="badge badge-primary rounded-0 p-2 m-1">@conv.Name</span>
                    }
                </p>
            </div>
        </div>
    </div>
</div>
