@using Hotel.BLL.DTO
@model IEnumerable<RoomTypeDTO>

@{
    ViewBag.Title = "Главная";
}

@foreach (var item in Model)
{
    <div class="card m-3">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-6">
                <img src="" class="card-img" alt="">
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    @Html.LabelFor(x => item.Conveniences)
                    <p class="card-text">
                        @foreach (var conv in item.Conveniences)
                        {
                        <span class="badge badge-primary rounded-0 p-2">@conv.Name</span>
                        }
                    </p>
                    
                    @Html.ActionLink("Забронировать", "Create", new { controller = "Reservarion", id = item.Id }, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>

}