<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dashboard</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Areas/Admin/Content/css")
</head>
<body>
    <div class="d-flex" id="wrapper">

        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <a class="btn">
                    <i class="far fa-building"></i>
                    Отель "Харьков"
                </a>
            </div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("List", "RoomType", new { area = "Admin"})" class="list-group-item list-group-item-action bg-light">Room types</a>
                <a href="@Url.Action("List", "Room", new { area = "Admin"})" class="list-group-item list-group-item-action bg-light">Rooms</a>
                <a href="@Url.Action("List", "Convenience", new { area = "Admin"})" class="list-group-item list-group-item-action bg-light">Conveniences</a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">
                    <i class="fas fa-bars"></i>
                </button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", new { Area = "", controller = "Home" })" class="nav-link">
                                На главную
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>

        </div>

    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Areas/Admin/Content/js")
    @RenderSection("scripts", required: false)
</body>
</html>