@model IEnumerable<Hotel.WEB.Areas.Admin.Models.ConvenienceDetailsVm>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Поиск">
    <div class="input-group-append" id="button-addon4">
        <button class="btn btn-outline-secondary" type="button">Поиск</button>
        @Html.ActionLink("Создать", "Create", new { controller = "Convenience" }, new { @class = "btn btn-outline-success" })
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Действия</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { controller="Convenience", id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { controller = "Convenience", id =item.Id })
        </td>
    </tr>
}

</table>
