@model Hotel.WEB.Models.Reservation.CreateReservationVm

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Бронирование номера</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="form-group col-lg-4">
            @Html.LabelFor(model => model.RoomType, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.RoomType.Id, Model.RoomTypes, new { @class = "form-control w-100" })
            @Html.ValidationMessageFor(model => model.RoomType.Id, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-lg-4 col-md-6">
            @Html.LabelFor(model => model.ArrivalDate, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.ArrivalDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ArrivalDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-lg-4 col-md-6">
            @Html.LabelFor(model => model.DepartureDate, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.DepartureDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="row">
        <div class="col" id="RoomTypeDetails">
            @Html.Partial("_RoomType", Model.RoomType)
        </div>
    </div>

    <div class="row">
        <div class="form-group col">
            <input type="submit" value="Забронировать" class="btn btn-success" />
            @Html.ActionLink("Назад", "Index", new {Controller = "Home"}, new { @class = "btn btn-light" })
        </div>
    </div>

</div>
}

@section scripts{
    <script>
        $(document).ready(function() {
            $('select').change(function() {
                $("#RoomTypeDetails").load(
                    '@Url.Action("GetPartialRoomType")',
                    { id: $('select').val() },
                    function () {});
            });
        });

        function LoadDetails(index)
        {
            
        }
    </script>
}