@model IEnumerable<Hotel.Web.Areas.Admin.Models.RoomDetailsVm>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Поиск">
    <div class="input-group-append" id="button-addon4">
        <button class="btn btn-outline-secondary" type="button">Поиск</button>
        @Html.ActionLink("Создать", "Create", new { controller = "Room" }, new { @class = "btn btn-outline-success" })
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BedsCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomTypeName)
        </th>
        <th>Действия</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BedsCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomTypeName)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
