@model Hotel.WEB.Models.Account.Login

@{
    ViewBag.Title = "Страница входа";
}

<h2>Вход</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

<div class="col-lg-3 col-md-6">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="checkbox">
                @Html.EditorFor(model => model.RememberMe)
                @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-success" />
        </div>
    </div>
</div>

}
