@using Microsoft.AspNet.Identity
@model Hotel.WEB.Models.Home.ProfileVm

@{
    ViewBag.Title = "Profile";
}

<div>

    <hr />
    <h5>Профиль</h5>
    @using (Html.BeginForm("Edit", "Account", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">
                            @Html.DisplayNameFor(model => model.Email)
                        </span>
                    </div>
                    @Html.TextBoxFor(x => x.Email, new {@class="form-control"})
                    @*<input type="text" class="form-control" value="@Html.DisplayFor(model => model.Email)">*@
                </div>
            </div>

            <div class="col-md-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">
                            @Html.DisplayNameFor(model => model.UserName)
                        </span>
                    </div>
                    @Html.TextBoxFor(x=>x.UserName, new {@class="form-control"})
                    @*<input type="text" class="form-control" value="@Html.DisplayFor(model => model.UserName)">*@
                </div>
            </div>

            <div class="col-md-2">
                <input type="submit" value="Сохранить" class="btn btn-success w-100" />
            </div>
        </div>
    }

    <hr />

    <h5>Бронирования</h5>

    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
        @Ajax.ActionLink("Все", "List",
            new {controller = "Reservation", area = "", userId = User.Identity.GetUserId()}, new AjaxOptions {UpdateTargetId = "Reservations"},
            new {@class = "btn btn-secondary"})

        @Ajax.ActionLink("Новые", "List",
            new {controller = "Reservation", area = "", userId = User.Identity.GetUserId() }, new AjaxOptions {UpdateTargetId = "Reservations"},
            new {@class = "btn btn-secondary"})

        @Ajax.ActionLink("Отмененные", "List",
            new {controller = "Reservation", area = "", userId = User.Identity.GetUserId() }, new AjaxOptions {UpdateTargetId = "Reservations"},
            new {@class = "btn btn-secondary"})

        @Ajax.ActionLink("Архив", "List",
            new {controller = "Reservation", area = "", userId = User.Identity.GetUserId() }, new AjaxOptions {UpdateTargetId = "Reservations"},
            new {@class = "btn btn-secondary"})

    </div>


    <div id="Reservations">
        @Html.Partial("_ReservationList", Model.Reservations)
    </div>
</div>
